/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #009ae8;
		color: #fff;
		font-size: 1.2em;
		border: 0;
		text-transform: uppercase;
		font-weight: 900;
		padding: 0.82em 2.5em;
		cursor: pointer;
		margin: 0;
		 }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background:#0483c3  
	}

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active { }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

/* Sections
=================================================== */
/* Header */
#header {
	background: url('../images/header.jpg') top center no-repeat;
	background-size: cover;
	min-height: 680px;
	width: 100%;
}

#header .logo {
	margin-top: 1em
}

#header nav {
	text-align: right;
	margin-top: 2em;
}

#header nav ul li {
	display: inline-block;
}

#header nav ul li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.75em 2em;
}

#header nav ul li a.btn {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #fff;
}

#header nav ul li a.btn:hover {
	background: #fff;
	color: #009be8
}

#header .headertext {
	margin-top: 10em;
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s; /* Safari and Chrome */
}

#header h1 {
	color: #fff;
	font-weight: 300;
	font-size: 4.5em;
	line-height: 1;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-bottom: 0.3em;
}

#header p {
	color: #d5d5d5;
	font-size: 1.33em;
	line-height: 1.5;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/* Benefits */
#benefits {
	padding: 4em 0 0;
	text-align: center;
}

#benefits h2 {
	color: #009be8;
	font-weight: 300;
}

#benefits p {
	color: #9d9d9d;
	font-size: 1.2em;
}

/* Pricing */
#pricing {
	background: #009be8;
	padding: 4em 0;
	text-align: center;
}

#pricing h2 {
	color: #fff;
	font-weight: 300;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#pricing p {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 1.2em;
}

.pricebox {
	background-color: #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	margin-top: 3em;
	height: 400px;
	position: relative;
}

.pricebox.deal {
	margin-top: 2em;
	height: 430px;
}

.pricebox header {
	background-color: #f1f1f1;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	padding: 1em 0;
	margin-bottom: 2em;
}

.pricebox header h3 {
	color: #4d4d4d;
	font-size: 1.4em;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
}

.pricebox section button {
	background: #2ecc71;
	position: absolute;
	bottom: 1em;
	width: 90%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

.pricebox section button:hover {
	background: #1fae5c;
}

.pricebox section h4 {
	display: inline-block;
	color: #009be8;
	font-size: 6em;
	font-weight: 900;
	vertical-align: bottom;
}

.pricebox section h4 span {
	font-size: 0.5em;
	line-height: 1;
	vertical-align: top;
}

#pricing .pricebox section p {
	display: inline-block;
	color: #9d9d9d;
	text-shadow: none;
	line-height: 1;
	position: relative;
	top: 1em;
	font-size: 1.1em;
}

.pricebox section ul {
	margin-top: 3em;
}

.pricebox section ul li {
	font-size: 1.2em;
	margin-bottom: 1.2em;
}

/* Testimonials */
#testimonials {
	padding: 4em 0;
	text-align: center;
}

#testimonials h2 {
	color:#009be8;
	font-weight: 300;
}

#testimonials p {
	color: #9d9d9d;
	font-size: 1.2em;
}

#testimonials blockquote {
	border: none;
	text-align: left;
	padding: 0 1.5em 0 0;
	font-size: 1em;
	color: #4d4d4d;
	line-height: 1.4;
	margin-top: 1em;
}

#testimonials .avatar img {
	border-radius: 50%;
	float: left;
	display: inline;
	margin-right: 1em;
	width: 65px;
	height: 65px;
}

#testimonials .avatar p {
	text-align: left;
	padding-top: 1.5em;
	color: #5d5d5d;
	font-weight: 900;
}

/* Call to Action */
#action {
	background: url('../images/action.jpg') top center no-repeat;
	background-size: cover;
	min-height: 180px;
	width: 100%;
	padding: 4em 0;
	text-align: center;
}

#action h2 {
	color: #fff;
	font-weight: 300;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#action p {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 1.2em;
}

#action .row {
	margin-top: 3em;
}

/* Footer */
#footer {
	background: #009be8;
	padding: 1em 0;
}

#footer nav ul {
	margin-top: 0.5em;
}

#footer nav ul li {
	display: inline;
	margin: 0;
}

#footer nav ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 1em 0 0;
	font-size: 1.1em;
}

#footer img {
	float: right;
}

#footer p {
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: 0.5em;
}